<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jayanti Memorial Trust</title>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!-- libraries CSS -->
    <link rel="stylesheet" href="assets/icon/flaticon_charitics.css">
    <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/splide/splide.min.css">
    <link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/vendor/slim-select/slimselect.css">
    <link rel="stylesheet" href="assets/vendor/animate-wow/animate.min.css">
    <link rel="stylesheet" href="assets/vendor/flatpickr/flatpickr.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        #more {display: none;}
    </style>
</head>

<body>
    <div class="preloader" id="preloader">
        <div class="loader"></div>
    </div>

    <!-- SIDEBAR SECTION START -->
    <div class="ul-sidebar">
        <!-- header -->
        <div class="ul-sidebar-header">
            <div class="ul-sidebar-header-logo">
                <a href="index-2.html">
                    <img src="assets/img/logo.png" alt="logo" class="logo">
                </a>
            </div>
            <!-- sidebar closer -->
            <button class="ul-sidebar-closer"><i class="flaticon-close"></i></button>
        </div>
        <div class="ul-sidebar-header-nav-wrapper d-block d-lg-none"></div>

        <!-- sidebar footer -->
        <div class="ul-sidebar-footer">
            <span class="ul-sidebar-footer-title">Follow us</span>

            <div class="ul-sidebar-footer-social">
                <a href="https://www.facebook.com/JayantiMemorialTrust/" target="_blank" rel="noopener"><i class="flaticon-facebook"></i></a>
                <a href="#"><i class="flaticon-twitter"></i></a>
                <a href="#"><i class="flaticon-instagram"></i></a>
                <a href="#"><i class="flaticon-youtube"></i></a>
            </div>
        </div>
    </div>
    <!-- SIDEBAR SECTION END -->

    <!-- HEADER SECTION START -->
    <header class="ul-header ul-header-2">
        <div class="ul-header-bottom to-be-sticky">
            <div class="ul-header-bottom-wrapper ul-header-container">
                <div class="logo-container">
                    <a href="index.html" class="d-inline-block">
                        <img src="assets/img/logo.png" alt="logo" class="logo">
                    </a>
                </div>

                <!-- header nav -->
                <div class="ul-header-nav-wrapper">
                    <div class="to-go-to-sidebar-in-mobile">
                        <nav class="ul-header-nav">
                            <a href="index.html">Home</a>
                            <div class="has-sub-menu">
                                <a role="button">About</a>
                                <div class="ul-header-submenu">
                                    <ul>
                                        <li><a href="about.html">About JMT</a></li>
                                        <li><a href="team.html">Our Team</a></li>
                                        <li><a href="partner.html">Our Partners</a></li>
                                    </ul>
                                </div>
                            </div>
                            <a href="program.html">Programs</a>
                            <a href="impact.html" class="active">Impact & Activities</a>
                            <a href="case.html">Case Study & Research</a>
                            <a href="contact.html">Contact Us</a>
                        </nav>
                    </div>
                </div>

                <!-- actions -->
                <div class="ul-header-actions">
                    <a href="donate.html" class="ul-btn d-sm-inline-flex"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i> Donate Now </a>
                    <button class="ul-header-sidebar-opener d-lg-none d-inline-flex"><i class="flaticon-menu"></i></button>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER SECTION END -->

    <main>
        <!-- BREADCRUMBS SECTION START -->
        <section class="ul-breadcrumb ul-section-spacing">
            <div class="ul-container">
                <h2 class="ul-breadcrumb-title">Impact & Activities</h2>
            </div>
        </section>
        <!-- BREADCRUMBS SECTION END -->

        <!-- BLOG SECTION START -->
        <section class="ul-blogs-2 ul-section-spacing">
            <div class="ul-container wow animate__fadeInUp">
                <div class="row row-cols-md-3 row-cols-2 row-cols-xxs-1 ul-bs-row justify-content-center">
                    <!-- single blog -->
                    <div class="col">
                        <div class="ul-blog ul-blog-2">
                            <div class="ul-blog-img"><img src="assets/img/blog-1.jpg" alt="Blog Image">
                                <div class="date">
                                    <span class="number">16</span>
                                    <span class="txt">Dec, 2022</span>
                                </div>
                            </div>
                            <div class="ul-blog-txt">
                                <div class="ul-blog-infos">
                                    <!-- single info -->
                                    <div class="ul-blog-info">
                                        <span class="icon"><i class="flaticon-account"></i></span>
                                        <span class="text font-normal text-[14px] text-etGray">By JMT</span>
                                    </div>
                                </div>
                                <a href="impact-details.html" class="ul-blog-title">Cardiac Camp at Manthali, Ramechhap</a>
                                <a href="impact-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                            </div>
                        </div>
                    </div>

                    <!-- single blog -->
                    <div class="col">
                        <div class="ul-blog ul-blog-2">
                            <div class="ul-blog-img"><img src="assets/img/blog-2.jpg" alt="Blog Image">
                                <div class="date">
                                    <span class="number">1</span>
                                    <span class="txt">April, 2022</span>
                                </div>
                            </div>
                            <div class="ul-blog-txt">
                                <div class="ul-blog-infos">
                                    <!-- single info -->
                                    <div class="ul-blog-info">
                                        <span class="icon"><i class="flaticon-account"></i></span>
                                        <span class="text font-normal text-[14px] text-etGray">By JMT</span>
                                    </div>
                                </div>
                                <a href="impact-details.html" class="ul-blog-title">Free Cardiac Camp at Tanglichowk, Gorkha</a>
                                <a href="impact-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                            </div>
                        </div>
                    </div>

                    <!-- single blog -->
                    <div class="col">
                        <div class="ul-blog ul-blog-2">
                            <div class="ul-blog-img"><img src="assets/img/blog-3.jpg" alt="Blog Image">
                                <div class="date">
                                    <span class="number">3</span>
                                    <span class="txt">Dec,2021</span>
                                </div>
                            </div>
                            <div class="ul-blog-txt">
                                <div class="ul-blog-infos">
                                    <!-- single info -->
                                    <div class="ul-blog-info">
                                        <span class="icon"><i class="flaticon-account"></i></span>
                                        <span class="text font-normal text-[14px] text-etGray">By JMT</span>
                                    </div>
                                </div>
                                <a href="impact-details.html" class="ul-blog-title">Equipment Support to Western Regional Hospital</a>
                                <a href="impact-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <span id="dots">...</span>
                <span id="more">
                    <div class="row row-cols-md-3 row-cols-2 row-cols-xxs-1 ul-bs-row justify-content-center mt-4">
                        <!-- single blog -->
                        <div class="col">
                            <div class="ul-blog ul-blog-2">
                                <div class="ul-blog-img"><img src="assets/img/blog-1.jpg" alt="Blog Image">
                                    <div class="date">
                                        <span class="number">16</span>
                                        <span class="txt">Dec, 2022</span>
                                    </div>
                                </div>
                                <div class="ul-blog-txt">
                                    <div class="ul-blog-infos">
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-account"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">By JMT</span>
                                        </div>
                                    </div>
                                    <a href="impact-details.html" class="ul-blog-title">Cardiac Camp at Manthali, Ramechhap</a>
                                    <a href="impact-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                                </div>
                            </div>
                        </div>

                        <!-- single blog -->
                        <div class="col">
                            <div class="ul-blog ul-blog-2">
                                <div class="ul-blog-img"><img src="assets/img/blog-2.jpg" alt="Blog Image">
                                    <div class="date">
                                        <span class="number">1</span>
                                        <span class="txt">April, 2022</span>
                                    </div>
                                </div>
                                <div class="ul-blog-txt">
                                    <div class="ul-blog-infos">
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-account"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">By JMT</span>
                                        </div>
                                    </div>
                                    <a href="impact-details.html" class="ul-blog-title">Free Cardiac Camp at Tanglichowk, Gorkha</a>
                                    <a href="impact-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                                </div>
                            </div>
                        </div>

                        <!-- single blog -->
                        <div class="col">
                            <div class="ul-blog ul-blog-2">
                                <div class="ul-blog-img"><img src="assets/img/blog-3.jpg" alt="Blog Image">
                                    <div class="date">
                                        <span class="number">3</span>
                                        <span class="txt">Dec,2021</span>
                                    </div>
                                </div>
                                <div class="ul-blog-txt">
                                    <div class="ul-blog-infos">
                                        <!-- single info -->
                                        <div class="ul-blog-info">
                                            <span class="icon"><i class="flaticon-account"></i></span>
                                            <span class="text font-normal text-[14px] text-etGray">By JMT</span>
                                        </div>
                                    </div>
                                    <a href="impact-details.html" class="ul-blog-title">Equipment Support to Western Regional Hospital</a>
                                    <a href="impact-details.html" class="ul-blog-btn">Read More <span class="icon"><i class="flaticon-next"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

                <!-- pagination -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="btns-block btns-center">
                            <button onclick="myFunction()" id="myBtn1" class="ul-btn d-sm-inline-flex px-4 mt-4">Load More</button>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- BLOG SECTION END -->
    </main>

    <!-- FOOTER SECTION START -->
    <footer class="ul-footer">
        <div class="ul-footer-middle">
            <div class="ul-footer-container">
                <div class="ul-footer-middle-wrapper wow animate__fadeInUp">
                    <div class="ul-footer-widget ul-nwsltr-widget">
                        <h3 class="ul-footer-widget-title">Jayanti Memorial Trust</h3>
                        <div class="ul-footer-widget-links ul-footer-contact-links">
                            <a href=""><i class="flaticon-pin"></i>Gairi Marg-4, Chundevi Opposite Sri lankan Embassy</a>
                            <a href="mailto:info@jmt.org.np"><i class="flaticon-mail"></i>info@jmt.org.np</a>
                            <a href="tel:+977014720009"><i class="flaticon-telephone-call"></i>+977 01 4720009</a>
                        </div>
                        <p class="ul-footer-about-txt map3"><a href="https://maps.app.goo.gl/B4xGMGEeonVn5cco9">View Google Map</a></p>
                        <div class="ul-footer-socials">
                            <a href="https://www.facebook.com/JayantiMemorialTrust/" target="_blank" rel="noopener"><i class="flaticon-facebook"></i></a>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                            <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                            <a href="#"><i class="flaticon-youtube"></i></a>
                        </div>
                    </div>

                    <div class="ul-footer-widget ul-nwsltr-widget">
                        <h3 class="ul-footer-widget-title">Patron of the Trust</h3>
                        <div class="ul-footer-widget-links ul-footer-contact-links">
                            <a href="#"><img src="assets/img/fishtail.png" alt="" style="width: 200px;background: #ffffff;"></a>
                        </div>
                    </div>
                    
                    <div class="ul-footer-widget">
                        <h3 class="ul-footer-widget-title">What’s New</h3>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJayantiMemorialTrust%2F&tabs=timeline&width=300&height=230&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="230" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer bottom -->
        <div class="ul-footer-bottom">
            <div class="ul-footer-container">
                <div class="ul-footer-bottom-wrapper">
                    <p class="copyright-txt">&copy;
                        <span id="footer-copyright-year"></span> Jayanti Memorial Trust. All rights reserved
                    </p>
                    <div class="ul-footer-bottom-nav text-white">Developed By:<a href="https://longtail.info/" target="_blank">Longtail e-media</a> </div>
                </div>
            </div>
        </div>

        <!-- vector -->
        <div class="ul-footer-vectors">
            <img src="assets/img/footer-vector-img.png" alt="Footer Image" class="ul-footer-vector-1">
        </div>
    </footer>
    <!-- FOOTER SECTION END -->

    <div class="whats_app">
        <a href="https://wa.me/+977" target="_blank" rel="noreferrer" class="whatsapp">
            <img src="assets/img/icon/whatsapp.png" class="whatsapp_img" alt="whatsapp">
        </a>
    </div>

    <button id="backToTop" class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-4 d-none" aria-label="Back to top">
          ↑
    </button>

    <!-- libraries JS -->
    <script src="assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/splide/splide.min.js"></script>
    <script src="assets/vendor/splide/splide-extension-auto-scroll.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/slim-select/slimselect.min.js"></script>
    <script src="assets/vendor/animate-wow/wow.min.js"></script>
    <script src="assets/vendor/splittype/index.min.js"></script>
    <script src="assets/vendor/mixitup/mixitup.min.js"></script>
    <script src="assets/vendor/fslightbox/fslightbox.js"></script>
    <script src="assets/vendor/flatpickr/flatpickr.js"></script>

    <!-- custom JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tab.js"></script>
    <!-- <script src="assets/js/countdown.js"></script> -->
    <script src="assets/js/accordion.js"></script>
    <script src="assets/js/progressbar.js"></script>
    <script src="assets/js/donate-form.js"></script>

    <script>
        const btn = document.getElementById("backToTop");

        window.addEventListener("scroll", () => {
            btn.classList.toggle("d-none", window.scrollY < 300);
        });

        btn.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
        });
    </script>

    <script>
        function myFunction() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("myBtn1");

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Load More"; 
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Load Less"; 
            moreText.style.display = "inline";
          }
        }
    </script>
</body>
</html>