<!DOCTYPE html>
<html lang="en">

<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <!-- libraries CSS -->
    <link rel="stylesheet" href="assets/icon/flaticon_charitics.css">
    <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/splide/splide.min.css">
    <link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/vendor/slim-select/slimselect.css">
    <link rel="stylesheet" href="assets/vendor/animate-wow/animate.min.css">
    <link rel="stylesheet" href="assets/vendor/flatpickr/flatpickr.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="preloader" id="preloader">
        <div class="loader"></div>
    </div>

    <!-- SIDEBAR SECTION START -->
    <div class="ul-sidebar">
        <!-- header -->
        <div class="ul-sidebar-header">
            <div class="ul-sidebar-header-logo">
                <a href="index.html">
                    <img src="assets/img/logo.png" alt="logo" class="logo">
                </a>
            </div>
            <!-- sidebar closer -->
            <button class="ul-sidebar-closer"><i class="flaticon-close"></i></button>
        </div>
        <div class="ul-sidebar-header-nav-wrapper d-block d-lg-none"></div>

        <!-- sidebar footer -->
        <div class="ul-sidebar-footer">
            <span class="ul-sidebar-footer-title">Follow us</span>

            <div class="ul-sidebar-footer-social">
                <a href="https://www.facebook.com/JayantiMemorialTrust/" target="_blank" rel="noopener"><i
                        class="flaticon-facebook"></i></a>
                <a href="#"><i class="flaticon-twitter"></i></a>
                <a href="#"><i class="flaticon-instagram"></i></a>
                <a href="#"><i class="flaticon-youtube"></i></a>
            </div>
        </div>
    </div>
    <!-- SIDEBAR SECTION END -->

    <!-- HEADER SECTION START -->
    <jcms:module:header/>

    <!-- HEADER SECTION END -->

    <main>
        <!-- BANNER SECTION START -->
        <section class="ul-banner ul-banner-2">
            <div class="ul-banner-2-slider swiper">
                <div class="swiper-wrapper">
                    <jcms:module:slideshow-uc/>
                </div>
            </div>

            <!-- slider navigation -->
            <jcms:module:slideshow-mini/>
        </section>
        <!-- BANNER SECTION END -->




        <!-- BANNER SECTION END -->

        <!-- FEATURES SECTION START -->
        <jcms:module:home-service-list/>
        <!-- FEATURES SECTION END -->

        <!-- ABOUT SECTION START -->
        <jcms:module:home-article/>

        <!-- ABOUT SECTION END -->

        <!-- SERVICES SECTION START -->
        <jcms:module:programlist/>
        <!-- SERVICES SECTION END -->

        <!-- CTA(CALL TO ACTION) SECTION START -->
        <section class="ul-cta">
            <div class="ul-container">
                <span class="ul-section-sub-title text-white">Your support can save a life</span>
                <h2 class="ul-cta-title">Donate today and help a heartbeat again</h2>
                <div class="ul-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                        class="flaticon-fast-forward-double-right-arrows-symbol"></i> Become A Volunteer</div>
            </div>
            <!--<img src="assets/img/cta-vector.svg" alt="Vector" class="ul-cta-vector">-->
        </section>
        <!-- CTA(CALL TO ACTION) SECTION END -->

        <!-- TESTIMONIAL SECTION START -->
        <jcms:module:testimonialList123/>

        <!-- TESTIMONIAL SECTION END -->

        <!-- STATS SECTION START -->
        <div class="ul-services ul-section-spacing">
            <div class="ul-container">
                <jcms:site:infoss/>

                <div class="ul-donation-details-summary-txt row mt-5">
                    <div class="col-md-6">
                        <h6>Our International Partners</h6>
                        <ul>
                            <li><a href="#"><img src="assets/img/icon/images.jpg" alt="logo"></a></li>
                            <li><a href="#"><img src="assets/img/icon/denver.jpg" alt="logo"></a></li>
                            <li><a href="#"><img src="assets/img/icon/care.png" alt="logo"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-flex flex-column align-items-end">
                        <h6>Our National Partners</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"><img src="assets/img/icon/sahid.png" alt="logo"></a></li>
                            <li><a href="#"><img src="assets/img/icon/manmohan.jpg" alt="logo"></a></li>
                            <li><a href="#"><img src="assets/img/icon/pokhara.jpg" alt="logo"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- STATS SECTION END -->

        <!-- BLOG SECTION START -->
        <jcms:module:homebloglist/>
        <!-- BLOG SECTION END -->
    </main>

    <!-- FOOTER SECTION START -->
    <jcms:module:footer/>
    <!-- FOOTER SECTION END -->



    <button id="backToTop" class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-4 d-none"
        aria-label="Back to top">
        ↑
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Become a Volunteer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" class="ul-contact-form ul-form">
                        <div class="row row-cols-2 row-cols-xxs-1 ul-bs-row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" name="name" id="ul-blog-comment-name" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="email" name="email" id="ul-blog-comment-email"
                                        placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" name="address" id="ul-blog-comment-subject"
                                        placeholder="Address">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" name="phone" id="ul-blog-comment-subject"
                                        placeholder="Phone No.">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" id="ul-blog-comment-msg"
                                        placeholder="Type your message"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>
                                    Get in Touch</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- libraries JS -->
    <script src="assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/splide/splide.min.js"></script>
    <script src="assets/vendor/splide/splide-extension-auto-scroll.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/slim-select/slimselect.min.js"></script>
    <script src="assets/vendor/animate-wow/wow.min.js"></script>
    <script src="assets/vendor/splittype/index.min.js"></script>
    <script src="assets/vendor/mixitup/mixitup.min.js"></script>
    <script src="assets/vendor/fslightbox/fslightbox.js"></script>
    <script src="assets/vendor/flatpickr/flatpickr.js"></script>

    <!-- custom JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tab.js"></script>
    <!-- <script src="assets/js/countdown.js"></script> -->
    <script src="assets/js/accordion.js"></script>
    <script src="assets/js/progressbar.js"></script>
    <script src="assets/js/donate-form.js"></script>

    <script>
        const btn = document.getElementById("backToTop");

        window.addEventListener("scroll", () => {
            btn.classList.toggle("d-none", window.scrollY < 300);
        });

        btn.addEventListener("click", () => {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });
    </script>

    <script>
        const el = document.getElementById("yrs_of_exp");
        const startYear = 2002; // the year your org started
        el.textContent = (new Date().getFullYear() - startYear) + "+";
    </script>



</body>

</html>