<!DOCTYPE html>
<html lang="en">

<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <!-- libraries CSS -->
    <link rel="stylesheet" href="assets/icon/flaticon_charitics.css">
    <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/splide/splide.min.css">
    <link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/vendor/slim-select/slimselect.css">
    <link rel="stylesheet" href="assets/vendor/animate-wow/animate.min.css">
    <link rel="stylesheet" href="assets/vendor/flatpickr/flatpickr.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="preloader" id="preloader">
        <div class="loader"></div>
    </div>

    <!-- SIDEBAR SECTION START -->
        <div class="ul-sidebar">
            <!-- header -->
            <div class="ul-sidebar-header">
                <div class="ul-sidebar-header-logo">
                    <a href="index.html">
                        <img src="assets/img/logo.png" alt="logo" class="logo">
                    </a>
                </div>
                <!-- sidebar closer -->
                <button class="ul-sidebar-closer"><i class="flaticon-close"></i></button>
            </div>
            <div class="ul-sidebar-header-nav-wrapper d-block d-lg-none"></div>

            <!-- sidebar footer -->
            <div class="ul-sidebar-footer">
                <span class="ul-sidebar-footer-title">Follow us</span>

                <div class="ul-sidebar-footer-social">
                    <a href="https://www.facebook.com/JayantiMemorialTrust/" target="_blank" rel="noopener"><i
                            class="flaticon-facebook"></i></a>
                    <a href="#"><i class="flaticon-twitter"></i></a>
                    <a href="#"><i class="flaticon-instagram"></i></a>
                    <a href="#"><i class="flaticon-youtube"></i></a>
                </div>
            </div>
        </div>
    <!-- SIDEBAR SECTION END -->

    <!-- HEADER SECTION START -->
    <jcms:module:header/>

    <!-- HEADER SECTION END -->

    <main>
        <!-- BANNER SECTION START -->
        <section class="ul-banner ul-banner-2">
            <div class="ul-banner-2-slider swiper">
                <div class="swiper-wrapper">
                    <jcms:module:slideshow-uc/>
                </div>
            </div>

            <!-- slider navigation -->
            <jcms:module:slideshow-mini/>
        </section>
        <!-- BANNER SECTION END -->

        <!-- FEATURES SECTION START -->
        <jcms:module:home-service-list/>
        <!-- FEATURES SECTION END -->

        <!-- ABOUT SECTION START -->
        <jcms:module:home-article/>

        <!-- ABOUT SECTION END -->

        <!-- SERVICES SECTION START -->
        <section class="ul-section-spacing overflow-hidden">
            <div class="ul-container">
                <div class="ul-section-heading">
                    <div>
                        <span class="ul-section-sub-title">Together we can change lives forever</span>
                        <h2 class="ul-section-title">Our Programs</h2>
                    </div>

                    <div class="ul-services-slider-nav ul-slider-nav position-static">
                        <button class="prev"><i class="flaticon-back"></i></button>
                        <button class="next"><i class="flaticon-next"></i></button>
                    </div>
                </div>

                <div class="ul-services-slider swiper overflow-visible">
                    <div class="swiper-wrapper">
                        <!-- single slide -->
                        <div class="swiper-slide">
                            <div class="ul-service">
                                <div class="ul-service-img">
                                    <img src="assets/img/service-1.jpg" alt="Service Image">
                                </div>
                                <div class="ul-service-txt">
                                    <h3 class="ul-service-title"><a href="program-details.html">Sponsorship Program</a>
                                    </h3>
                                    <p class="ul-service-descr">MT has borne witness to significant rise in the number
                                        of cardiac patients in Nepal.</p>
                                    <a href="program-details.html" class="ul-service-btn"><i
                                            class="flaticon-up-right-arrow"></i> View Details</a>
                                </div>
                            </div>
                        </div>

                        <!-- single slide -->
                        <div class="swiper-slide">
                            <div class="ul-service">
                                <div class="ul-service-img">
                                    <img src="assets/img/service-2.jpg" alt="Service Image">
                                </div>
                                <div class="ul-service-txt">
                                    <h3 class="ul-service-title"><a href="program-details.html">Outreach Programs</a>
                                    </h3>
                                    <p class="ul-service-descr">Professional Detailed Residential Cleaning, Ensuring
                                        Spotless Homes And Healthy Living Spaces.</p>
                                    <a href="program-details.html" class="ul-service-btn"><i
                                            class="flaticon-up-right-arrow"></i> View Details</a>
                                </div>
                            </div>
                        </div>

                        <!-- single slide -->
                        <div class="swiper-slide">
                            <div class="ul-service">
                                <div class="ul-service-img">
                                    <img src="assets/img/service-3.jpg" alt="Service Image">
                                </div>
                                <div class="ul-service-txt">
                                    <h3 class="ul-service-title"><a href="program-details.html">Early Identification of
                                            Cardiac Cases</a></h3>
                                    <p class="ul-service-descr">Professional Detailed Residential Cleaning, Ensuring
                                        Spotless Homes And Healthy Living Spaces.</p>
                                    <a href="program-details.html" class="ul-service-btn"><i
                                            class="flaticon-up-right-arrow"></i> View Details</a>
                                </div>
                            </div>
                        </div>

                        <!-- single slide -->
                        <div class="swiper-slide">
                            <div class="ul-service">
                                <div class="ul-service-img">
                                    <img src="assets/img/service-4.jpg" alt="Service Image">
                                </div>
                                <div class="ul-service-txt">
                                    <h3 class="ul-service-title"><a href="program-details.html">Children and Youth
                                            Education Program</a></h3>
                                    <p class="ul-service-descr">Professional Detailed Residential Cleaning, Ensuring
                                        Spotless Homes And Healthy Living Spaces.</p>
                                    <a href="program-details.html" class="ul-service-btn"><i
                                            class="flaticon-up-right-arrow"></i> View Details</a>
                                </div>
                            </div>
                        </div>

                        <!-- single slide -->
                        <div class="swiper-slide">
                            <div class="ul-service">
                                <div class="ul-service-img">
                                    <img src="assets/img/service-3.jpg" alt="Service Image">
                                </div>
                                <div class="ul-service-txt">
                                    <h3 class="ul-service-title"><a href="program-details.html">Child Medical
                                            Research</a></h3>
                                    <p class="ul-service-descr">Professional Detailed Residential Cleaning, Ensuring
                                        Spotless Homes And Healthy Living Spaces.</p>
                                    <a href="program-details.html" class="ul-service-btn"><i
                                            class="flaticon-up-right-arrow"></i> View Details</a>
                                </div>
                            </div>
                        </div>

                        <!-- single slide -->
                        <div class="swiper-slide">
                            <div class="ul-service">
                                <div class="ul-service-img">
                                    <img src="assets/img/service-4.jpg" alt="Service Image">
                                </div>
                                <div class="ul-service-txt">
                                    <h3 class="ul-service-title"><a href="program-details.html">Development Programs</a>
                                    </h3>
                                    <p class="ul-service-descr">Professional Detailed Residential Cleaning, Ensuring
                                        Spotless Homes And Healthy Living Spaces.</p>
                                    <a href="program-details.html" class="ul-service-btn"><i
                                            class="flaticon-up-right-arrow"></i> View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- SERVICES SECTION END -->

        <!-- CTA(CALL TO ACTION) SECTION START -->
        <section class="ul-cta">
            <div class="ul-container">
                <span class="ul-section-sub-title text-white">Your support can save a life</span>
                <h2 class="ul-cta-title">Donate today and help a heartbeat again</h2>
                <div class="ul-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                        class="flaticon-fast-forward-double-right-arrows-symbol"></i> Become A Volunteer</div>
            </div>
            <!--<img src="assets/img/cta-vector.svg" alt="Vector" class="ul-cta-vector">-->
        </section>
        <!-- CTA(CALL TO ACTION) SECTION END -->

        <!-- TESTIMONIAL SECTION START -->
        <jcms:module:testimonialList123/>

        <!-- TESTIMONIAL SECTION END -->

        <!-- STATS SECTION START -->
        <div class="ul-services ul-section-spacing">
            <div class="ul-container">
                <div class="ul-stats-wrapper wow animate__fadeInUp">
                    <div
                        class="row row-cols-md-4 row-cols-sm-3 row-cols-2 row-cols-xxs-1 ul-bs-row justify-content-center">
                        <div class="col">
                            <div class="ul-stats-item">
                                <i class="flaticon-costumer"></i>
                                <span class="number">7000+</span>
                                <span class="txt">Patients sponsor since its inception</span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="ul-stats-item">
                                <i class="flaticon-team"></i>
                                <span class="number">4800+</span>
                                <span class="txt">Visitors at Help Desk</span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="ul-stats-item">
                                <img src="assets/img/icon/heart-center.png">
                                <span class="number">53 Districts</span>
                                <span class="txt"> Numerous heart camps conducted</span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="ul-stats-item">
                                <i class="flaticon-relationship"></i>
                                <span class="number">10</span>
                                <span class="txt">Patient supported by CCCF, USA</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ul-donation-details-summary-txt row mt-5">
                    <div class="col-md-6">
                        <h6>Our International Partners</h6>
                        <ul>
                            <li><a href="#"><img src="assets/img/icon/images.jpg" alt="logo"></a></li>
                            <li><a href="#"><img src="assets/img/icon/denver.jpg" alt="logo"></a></li>
                            <li><a href="#"><img src="assets/img/icon/care.png" alt="logo"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 d-flex flex-column align-items-end">
                        <h6>Our National Partners</h6>
                        <ul class="list-unstyled">
                            <li><a href="#"><img src="assets/img/icon/sahid.png" alt="logo"></a></li>
                            <li><a href="#"><img src="assets/img/icon/manmohan.jpg" alt="logo"></a></li>
                            <li><a href="#"><img src="assets/img/icon/pokhara.jpg" alt="logo"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- STATS SECTION END -->

        <!-- BLOG SECTION START -->
        <section class="ul-blogs-2 ul-section-spacing">
            <div class="ul-container wow animate__fadeInUp">
                <div class="ul-section-heading">
                    <div class="left">
                        <span class="ul-section-sub-title"> Empowering lives through meaningful activities </span>
                        <h2 class="ul-section-title">Impact & Activities</h2>
                    </div>

                    <a href="impact.html" class="ul-btn"><i
                            class="flaticon-fast-forward-double-right-arrows-symbol"></i> View All</a>
                </div>

                <div class="row row-cols-md-3 row-cols-2 row-cols-xxs-1 ul-bs-row justify-content-center">
                    <!-- single blog -->
                    <div class="col">
                        <div class="ul-blog ul-blog-2">
                            <div class="ul-blog-img"><img src="assets/img/blog-1.jpg" alt="Blog Image">
                                <div class="date">
                                    <span class="number">16</span>
                                    <span class="txt">Dec, 2022</span>
                                </div>
                            </div>
                            <div class="ul-blog-txt">
                                <div class="ul-blog-infos">
                                    <!-- single info -->
                                    <div class="ul-blog-info">
                                        <span class="icon"><i class="flaticon-account"></i></span>
                                        <span class="text font-normal text-[14px] text-etGray">By JMT</span>
                                    </div>
                                </div>
                                <a href="impact-details.html" class="ul-blog-title">Cardiac Camp at Manthali,
                                    Ramechhap</a>
                                <a href="impact-details.html" class="ul-blog-btn">Read More <span class="icon"><i
                                            class="flaticon-next"></i></span></a>
                            </div>
                        </div>
                    </div>

                    <!-- single blog -->
                    <div class="col">
                        <div class="ul-blog ul-blog-2">
                            <div class="ul-blog-img"><img src="assets/img/blog-2.jpg" alt="Blog Image">
                                <div class="date">
                                    <span class="number">1</span>
                                    <span class="txt">April, 2022</span>
                                </div>
                            </div>
                            <div class="ul-blog-txt">
                                <div class="ul-blog-infos">
                                    <!-- single info -->
                                    <div class="ul-blog-info">
                                        <span class="icon"><i class="flaticon-account"></i></span>
                                        <span class="text font-normal text-[14px] text-etGray">By JMT</span>
                                    </div>
                                </div>
                                <a href="impact-details.html" class="ul-blog-title">Free Cardiac Camp at Tanglichowk,
                                    Gorkha</a>
                                <a href="impact-details.html" class="ul-blog-btn">Read More <span class="icon"><i
                                            class="flaticon-next"></i></span></a>
                            </div>
                        </div>
                    </div>

                    <!-- single blog -->
                    <div class="col">
                        <div class="ul-blog ul-blog-2">
                            <div class="ul-blog-img"><img src="assets/img/blog-3.jpg" alt="Blog Image">
                                <div class="date">
                                    <span class="number">3</span>
                                    <span class="txt">Dec,2021</span>
                                </div>
                            </div>
                            <div class="ul-blog-txt">
                                <div class="ul-blog-infos">
                                    <!-- single info -->
                                    <div class="ul-blog-info">
                                        <span class="icon"><i class="flaticon-account"></i></span>
                                        <span class="text font-normal text-[14px] text-etGray">By JMT</span>
                                    </div>
                                </div>
                                <a href="impact-details.html" class="ul-blog-title">Equipment Support to Western
                                    Regional Hospital</a>
                                <a href="impact-details.html" class="ul-blog-btn">Read More <span class="icon"><i
                                            class="flaticon-next"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BLOG SECTION END -->
    </main>

    <!-- FOOTER SECTION START -->
    <footer class="ul-footer">
        <div class="ul-footer-middle">
            <div class="ul-footer-container">
                <div class="ul-footer-middle-wrapper wow animate__fadeInUp">
                    <div class="ul-footer-widget ul-nwsltr-widget">
                        <h3 class="ul-footer-widget-title">Jayanti Memorial Trust</h3>
                        <div class="ul-footer-widget-links ul-footer-contact-links">
                            <a href=""><i class="flaticon-pin"></i>Gairi Marg-4, Chundevi Opposite Sri lankan
                                Embassy</a>
                            <a href="mailto:info@jmt.org.np"><i class="flaticon-mail"></i>info@jmt.org.np</a>
                            <a href="tel:+977014720009"><i class="flaticon-telephone-call"></i>+977 01 4720009</a>
                        </div>
                        <p class="ul-footer-about-txt map3"><a href="https://maps.app.goo.gl/B4xGMGEeonVn5cco9">View
                                Google Map</a></p>
                        <div class="ul-footer-socials">
                            <a href="https://www.facebook.com/JayantiMemorialTrust/" target="_blank" rel="noopener"><i
                                    class="flaticon-facebook"></i></a>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                            <a href="#"><i class="flaticon-linkedin-big-logo"></i></a>
                            <a href="#"><i class="flaticon-youtube"></i></a>
                        </div>
                    </div>

                    <div class="ul-footer-widget ul-nwsltr-widget">
                        <h3 class="ul-footer-widget-title">Patron of the Trust</h3>
                        <div class="ul-footer-widget-links ul-footer-contact-links">
                            <a href="#"><img src="assets/img/fishtail.png" alt=""
                                    style="width: 200px;background: #ffffff;"></a>
                        </div>
                    </div>

                    <div class="ul-footer-widget">
                        <h3 class="ul-footer-widget-title">What’s New</h3>
                        <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FJayantiMemorialTrust%2F&tabs=timeline&width=300&height=230&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="300" height="230" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer bottom -->
        <div class="ul-footer-bottom">
            <div class="ul-footer-container">
                <div class="ul-footer-bottom-wrapper">
                    <p class="copyright-txt">&copy;
                        <span id="footer-copyright-year"></span> Jayanti Memorial Trust. All rights reserved
                    </p>
                    <div class="ul-footer-bottom-nav text-white">Developed By:<a href="https://longtail.info/"
                            target="_blank">Longtail e-media</a> </div>
                </div>
            </div>
        </div>

        <!-- vector -->
        <div class="ul-footer-vectors">
            <img src="assets/img/footer-vector-img.png" alt="Footer Image" class="ul-footer-vector-1">
        </div>
    </footer>
    <!-- FOOTER SECTION END -->

    <div class="whats_app">
        <a href="https://wa.me/+977" target="_blank" rel="noreferrer" class="whatsapp">
            <img src="assets/img/icon/whatsapp.png" class="whatsapp_img" alt="whatsapp">
        </a>
    </div>

    <button id="backToTop" class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-4 d-none"
        aria-label="Back to top">
        ↑
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Become a Volunteer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" class="ul-contact-form ul-form">
                        <div class="row row-cols-2 row-cols-xxs-1 ul-bs-row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" name="name" id="ul-blog-comment-name" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="email" name="email" id="ul-blog-comment-email"
                                        placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" name="address" id="ul-blog-comment-subject"
                                        placeholder="Address">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" name="phone" id="ul-blog-comment-subject"
                                        placeholder="Phone No.">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" id="ul-blog-comment-msg"
                                        placeholder="Type your message"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="ul-btn"><i class="flaticon-fast-forward-double-right-arrows-symbol"></i>
                                    Get in Touch</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- libraries JS -->
    <script src="assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/splide/splide.min.js"></script>
    <script src="assets/vendor/splide/splide-extension-auto-scroll.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/slim-select/slimselect.min.js"></script>
    <script src="assets/vendor/animate-wow/wow.min.js"></script>
    <script src="assets/vendor/splittype/index.min.js"></script>
    <script src="assets/vendor/mixitup/mixitup.min.js"></script>
    <script src="assets/vendor/fslightbox/fslightbox.js"></script>
    <script src="assets/vendor/flatpickr/flatpickr.js"></script>

    <!-- custom JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tab.js"></script>
    <!-- <script src="assets/js/countdown.js"></script> -->
    <script src="assets/js/accordion.js"></script>
    <script src="assets/js/progressbar.js"></script>
    <script src="assets/js/donate-form.js"></script>

    <script>
        const btn = document.getElementById("backToTop");

        window.addEventListener("scroll", () => {
            btn.classList.toggle("d-none", window.scrollY < 300);
        });

        btn.addEventListener("click", () => {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });
    </script>

<script>
  const el = document.getElementById("yrs_of_exp");
  const startYear = 2002; // the year your org started
  el.textContent = (new Date().getFullYear() - startYear) + "+";
</script>


    
</body>

</html>