<!DOCTYPE html>
<html lang="en">
<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>

    <!-- libraries CSS -->
    <link rel="stylesheet" href="assets/icon/flaticon_charitics.css">
    <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/splide/splide.min.css">
    <link rel="stylesheet" href="assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/vendor/slim-select/slimselect.css">
    <link rel="stylesheet" href="assets/vendor/animate-wow/animate.min.css">
    <link rel="stylesheet" href="assets/vendor/flatpickr/flatpickr.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="preloader" id="preloader">
        <div class="loader"></div>
    </div>

    <!-- SIDEBAR SECTION START -->
    <div class="ul-sidebar">
        <!-- header -->
        <div class="ul-sidebar-header">
            <div class="ul-sidebar-header-logo">
                <a href="index.html">
                    <img src="assets/img/logo.png" alt="logo" class="logo">
                </a>
            </div>
            <!-- sidebar closer -->
            <button class="ul-sidebar-closer"><i class="flaticon-close"></i></button>
        </div>
        <div class="ul-sidebar-header-nav-wrapper d-block d-lg-none"></div>

        <!-- sidebar footer -->
        <div class="ul-sidebar-footer">
            <span class="ul-sidebar-footer-title">Follow us</span>

            <div class="ul-sidebar-footer-social">
                <a href="https://www.facebook.com/JayantiMemorialTrust/" target="_blank" rel="noopener"><i class="flaticon-facebook"></i></a>
                <a href="#"><i class="flaticon-twitter"></i></a>
                <a href="#"><i class="flaticon-instagram"></i></a>
                <a href="#"><i class="flaticon-youtube"></i></a>
            </div>
        </div>
    </div>
    <!-- SIDEBAR SECTION END -->

    <!-- HEADER SECTION START -->
    <jcms:module:header/>

    <!-- HEADER SECTION END -->

    <main>
        <!-- BREADCRUMBS SECTION START -->
        <section class="ul-breadcrumb ul-section-spacing">
            <div class="ul-container">
                <h2 class="ul-breadcrumb-title">About Us</h2>
            </div>
        </section>
        <!-- BREADCRUMBS SECTION END -->

        <!-- ABOUT SECTION START -->
        <jcms:module:inner-about-detail/>
        

        <!-- ABOUT SECTION END -->

        <!-- MISSION, VISION, HISTORY SECTION START -->
         
        <!-- MISSION, VISION, HISTORY SECTION END -->
        
        <section class="ul-about-tabs ul-events ul-section-spacing mapabout">
            <div class="ul-container">
                <h2 class="ul-section-title">Regions covered by JMT outreach camps since 2001</h2>
                <img src="assets/img/map.jpeg" alt="map" width="1200" height="600" fetchpriority="high" decoding="async">
            </div>
        </section>
    </main>

    <!-- FOOTER SECTION START -->
    <jcms:module:footer/>

    <!-- FOOTER SECTION END -->


    <button id="backToTop" class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-4 d-none" aria-label="Back to top">
          ↑
    </button>

    <!-- libraries JS -->
    <script src="assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/splide/splide.min.js"></script>
    <script src="assets/vendor/splide/splide-extension-auto-scroll.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/slim-select/slimselect.min.js"></script>
    <script src="assets/vendor/animate-wow/wow.min.js"></script>
    <script src="assets/vendor/splittype/index.min.js"></script>
    <script src="assets/vendor/mixitup/mixitup.min.js"></script>
    <script src="assets/vendor/fslightbox/fslightbox.js"></script>
    <script src="assets/vendor/flatpickr/flatpickr.js"></script>

    <!-- custom JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/tab.js"></script>
    <!-- <script src="assets/js/countdown.js"></script> -->
    <script src="assets/js/accordion.js"></script>
    <script src="assets/js/progressbar.js"></script>
    <script src="assets/js/donate-form.js"></script>

    <script>
        const btn = document.getElementById("backToTop");

        window.addEventListener("scroll", () => {
            btn.classList.toggle("d-none", window.scrollY < 300);
        });

        btn.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
        });
    </script>

    <script>
        const el = document.getElementById("yrs_of_exp1");
        const startYear = 2002; // the year your org started
        el.textContent = (new Date().getFullYear() - startYear) + "+";
    </script>
</body>
</html>